.container {
  padding: 0 2rem;
}

.item1 { grid-area: logo; }
.item2 { grid-area: socials; }
.item3 { grid-area: content; background-color: palevioletred;}

.main {
  display: grid;
  grid-template-areas:
    'logo logo logo socials socials'
    'content content content content';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

